.main__title{
  color: green;
  text-align: center;
}
.input-box{
 text-align: center;
 
 .input-box__digit{
		width: 30px;
		height: 30px;
		text-align: center;
	}
	.score-box{
		text-align: center;
	}
}
